@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
/* heading style start */
.heading-title{
    font-size: 22;
    font-weight: 700;
}
.carousel-header{
    font-size: 42px;
    font-weight: 600;
}
.carousel-para{
    font-size: 16px;
}
.carosule-width{
    width: 100%;
}
.btn-book-now{
    padding: 9px 25px;
    background: #fff;
    color: #dc3545;
    border: none;
    border-radius: 3px;
}
/* package style start */
.section-title{
    font-size: 42px;
    font-weight: 700;
}
.card{
    border: none;
    background: none;
}
.card-title{
    font-size: 25px;
    font-weight: 600;
}
.fa-check-circle{
    color: #dc3545;;
}
.card-text{
    color: #848199;
    font-size: 14px;
}
.hot-top{
    font-size: 10px;
    font-weight: 600;
}
.btn-chose-plan{
    padding: 10px 35px;
    border: none;
    background: #dc3545;
    color: #fff;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 600;
    transition: 1s linear;
}
.btn-chose-plan-offer{
    padding: 10px 35px;
    border: none;
    background: #fff;
    color: #dc3545;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 600;
    transition: 1s linear;
}
.btn-chose-plan:hover{
    background: #fff;
    border:1px solid #dc3545;
    color:#dc3545; 
}
/* testimonial style start */
.testimonial-bg-gary{
    background: #f3f3eb;
}
.test-carousel-heading{
    font-size: 20px;
    font-weight: 600;
}
.test-carousel-small-heading{
    font-size: 16px;
    font-weight: 600;
}
.text-carousel-para{
    font-size: 12px;
   font-weight: 600;
}
/* footer style start */
a{
    text-decoration: none;
}
.btn-apple{
    width: 65%;
    background:none;
    border:1px solid gainsboro;
    border-radius: 5px;
    line-height: 1;
}
.btn-click{
    font-size: 8px;
}
.btn-design{
    font-weight: 600;
    font-size: 10px;
}
@media screen and (max-width:768px){
    .first-order{
        order: 1;
    }
    .second-order{
        order: 2 ;
    }
}
@media screen and (max-width:546px) {
    .section-title{
        font-size: 20px;
    }
    .heading-title{
        text-align: center;
    }
    .carosule-width{
        width: 100%;
    }
    .carousel-header{
        font-size: 15px;
    }
    .carousel-para{
        font-size: 8px;
    }
    .btn-book-now{
        padding: 4px 10px;
        font-size: 10px;
    }
}